/*
	main.css
	handcrafted by PowerSyst
*/

/** Helpers **/
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	background: url('../img/body-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
	display: block;
}

* {
	width: 100%;
	box-sizing: border-box;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.header {
	display: table;
	text-align: center;
	max-width: 90%;
	margin: 20px auto;
}

.user-info {
	max-width: 600px;
	vertical-align: middle;
}

.user-info .avatar,
.user-description {
	display: table-cell;
	vertical-align: middle;
}

.user-info .avatar,
.user-info .avatar img {
	width: 120px;
}

.user-info .avatar .crop {
	width: 120px;
	height: 120px;
	margin-right: 20px;
	border-radius: 100%;
	box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.user-status {
	text-align: left;
}

.user-info .user-status h2 {
	font-size: 25px;
	font-weight: normal;
	color: #313131;
}

.user-info .user-status span {
	position: relative;
	top: -15px;
	font-size: 15px;
	color: #656565;
}

.user-info .user-description.color-white .user-status h2 {
	color: #FFF;
}
.user-info .user-description.color-white .user-status span {
	color: rgba(255, 255, 255, 0.74);
}

.user-info,
.header-actions {
	display: table-cell;
	vertical-align: middle;
}
a.user-phone {
	text-decoration: none;
	display: block;
}
a.user-phone span {
	max-width: 190px;
	padding: 10px 25px;
	background-color: #76aa81;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	white-space: nowrap;
}
.header-actions ul {
	display: block;
	padding: 0px;
	margin: 20px 0px 0px 0px;
	text-align: center;
	list-style-type: none;
	white-space: nowrap;
}
.header-actions ul li {
	display: inline-block;
	width: 25px;
	margin-right: 2px;
}
.header-actions ul li.no-border {
	margin-right: 0px;
}
.header-actions ul li a {
	display: table-cell;
	width: 25px;
	height: 25px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
.header-actions ul li a:before {
	display: inline-block;
	content: "\f082";
	font: normal normal normal 14px/1 FontAwesome;
	color: #FFF;
	font-size: 20px;
}
.header-actions ul li.telegram a:before {
	content: "\f1d8";
}
.header-actions ul li.whatsapp a:before {
	content: "\f232";
}
.header-actions ul li.email a:before {
	content: "\f0e0";
}
.header-actions ul li.site a:before {
	content: "\f0ac";
}
.header-actions ul li.voip a:before {
	content: "\f098";
}
.header-actions ul li.twitter a:before {
	content: "\f099";
}
.header-actions ul li.instagram a:before {
	content: "\f16d";
}
.header-actions ul li .tooltiptext {
	top: -40px;
	left: -47px;
}

a.user-phone.color-black span {
	color: #000;
}

section.chat {
	margin-bottom: 40px;
	position: relative;
}

.messages-box {
	height: 430px;
	overflow-y: scroll;
}

.messages-box,
.modal {
	position: relative;
	padding: 25px;
	background-color: #f5f5f5;
	border-radius: 5px 0px;
	border: 1px #e6e6e6 solid;
}

.dot-menu-img {
	width: 15px;
	position: absolute;
	right: 25px;
	top: 15px;
	z-index: 2;
	cursor: pointer;
}

.dot-menu-box {
	display: none;
	width: 300px;
	z-index: 2;
	padding: 15px 40px;
	top: 10px;
	position: absolute;
	right: 75px;
  background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
}

.dot-menu-box::after {
	color: #BB0609;
  content: "";
  position: absolute;
	top: 10px;
  right: -20px;
  display: block;
  border-right: 9px solid transparent;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 14px solid #ffffff;
}

.dot-menu-box img {
	width: 15px;
	margin-right: 10px;
}

.dot-menu-box a {
	display: block;
	color: #000000;
	text-decoration: none;
}

.dot-menu-box a:first-of-type {
	padding-top: 5px;
	padding-bottom: 15px;
}

.left-message,
.right-message {
	display: block;
}
.message-avatar {
	max-width: 54px;
	height: 54px;
	display: inline-block;
	border-radius: 100%;
}

.left-message,
.message-bubble-left {
	float: left;
}

.right-message,
.message-bubble-right {
	float: right;
}

.message-bubble-left {
	display: inline-block;
	background-color: #ffffff;
	border-radius: 0px 20px 30px 20px;
	box-shadow: 0px 3px 1px 0px rgba(69, 69, 69, 0.1);
}

.message-bubble-right {
	background-color: #c1f3ac;
	border-radius: 20px 0px 20px 30px;
	box-shadow: 0px 3px 1px 0px rgba(69, 69, 69, 0.1);
	color: #484848;
}

.message-bubble-left,
.message-bubble-right {
	width: 51%;
	padding: 5px 15px;
  	margin: 10px 10px;
	position: relative;
}

.message-bubble-left .btn-image,
.message-bubble-right .btn-image,
.message-bubble-left .play-video video,
.message-bubble-right .play-video video {
	display: block;
	max-width: 100%;
	max-height: 254px;
	overflow: hidden;
}

.message {
	max-width: 913px;
	display: block;
	position: relative;
	padding: 20px;
	background-color: #fdfdfd;
	/* offset-x | offset-y | blur-radius | color */
	-webkit-box-shadow: -1px -9px 5px -4px rgba(207,207,207,1);
	-moz-box-shadow: -1px -9px 5px -4px rgba(207,207,207,1);
	box-shadow: -1px -9px 5px -4px rgba(207,207,207,1);
}

img.message-flag {
  width: 12px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.message-input {
	max-width: 760px!important;
	display: inline-block;
	margin-right: 5%;
	border: none;
	color: #484848;
}

.message-options {
	max-width: 30px;
	display: inline-block;
}

.message-input,
.message-options {
	vertical-align: middle;
}

.message-options .attach-file img,
.message-options .send-message img {
	width: auto;
	height: 30px;
}

.message-options .attach-file {
	display: table-cell;
	margin-right: 10px;
}

.message-options .send-message {
	display: table-cell;
}

.modal .modal-header {
	text-align: center;
}

.modal .modal-header h3,
.modal .modal-header span {
	font-weight: normal;
	color: #474747;
}

.modal .modal-header span {
	position: relative;
	top: -10px;
}

.modal .options {
	text-align: center;
}

.modal .modal-header,
.modal .options {
	margin: 25px 0px;
}

.chat-online,
.call-me-on-whatsapp {
	color: #fff;
	text-decoration: none;
}

.button,
.form-item {
	padding: 15px 50px;
	border-radius: 5px;
	background-color: #FFF;
}

.button {
	margin-left: 35px;
	display: inline-block;
	width: 40%;
}

.success,
.error {
	width: 70%;
	color: white;
}

.success {
	background-color: #76aa81;
}

.error {
	background-color: #bc5057;
}

.button p,
.button img {
	display: inline-block;
	vertical-align: middle;;
}

.button img {
	width: 20px;
	margin-right: 10px;
}

.button p {
	width: 70%;
}

a.chat-online {
	background-color: #735fea;
}

a.call-me-on-whatsapp {
	background-color: #76aa81;
}

.form {
	text-align: left;
}

.form-item {
	border: 1px #cccccc solid;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100%;
	height: 55px;
	padding: 15px 25px;
}
.intl-tel-input {
	margin-bottom: 30px;
	margin-top: 10px;
}

.alert {
	color: #EF7272;
}

.half {
	width: 30%;
	display: table-cell;
	padding-left: 20px;
	vertical-align: top;
}
.half:first-of-type {
	padding-left: 0px;
}
.button:first-of-type  {
	margin-left: 0px;
}
.optional {
	color: #bfbfbf;
}

a.back-home {
	display: block;
	text-decoration: none;
	color: #1E6479;
	padding: 20px;
}

.iti-flag {
	background-image: url('https://widget.powerzap.com.br/img/flags.png');
}

label[for='whatsapp'] {
	padding-bottom: 10px;
}

textarea {
  resize: none;
	outline: 0px;
}

.inputfile {
	display: none;
}

.inputfile + label {
	cursor: pointer;
}

.inputfile + label * {
	pointer-events: none;
}

.sending,
.sent {
	display: none;
	width: 8px;
	height: 8px;
}

.sending {
	background: url('https://widget.powerzap.com.br/img/status.png') no-repeat -2px -1px;
}

.sent {
	background: url('https://widget.powerzap.com.br/img/status.png') no-repeat -20px -1px;
}

.read {
	background: url('https://widget.powerzap.com.br/img/status.png') no-repeat -38px -1px;
	width: 13px;
	height: 8px;
}

.sending,
.sent,
.read {
	position: absolute;
	float: right;
	margin-right: 15px;
	right: 2px;
	bottom: 12px;
}
.message-right .status,
.message-left .status {
	display: none;
}
.message-right:last-child .status {
	display: block;
}
/* Media Queries */

@media (max-width: 950px) {
	.header-actions {
		margin-top: 20px;
	}

	.dot-menu-img {
		right: 68px;
	}

	.message,
	.messages-box,
	.user-info,
	.modal {
		width: 90%;
   		margin: 0 auto;
	}

	.message {
		position: relative;
	}

	.message-input {
		width: 85%;
		margin-right: 0px;
	}
	.message-options {
		max-width: 20px;
	}
	.message-options img {
		margin-right: 15px;
	}

	.half {
		width: 100%;
		margin: 0;
	}

	.button {
		margin-right: 0px;
	}

	.button:first-of-type {
		margin-bottom: 20px;
	}
}
@media (max-width: 800px) {
	.button {
		width: 100%;
		margin-left: 0px;
	}
	.half {
		width: 100%;
		display: block;
		margin-left: 0px;
		padding-left: 0px;
	}
}

@media (max-width: 600px) {
	.dot-menu-img {
		right: 40px;
	}
	.header-actions {
		display: block;
		margin: 20px auto 5px auto;
	}
	a.user-phone span {
		width: 100%;
		max-width: none;
		display: block;
	}
	.user-info {
		display: table;
		margin: 0px auto;
		max-width: 90%;
	}
	.message-bubble-left,
	.message-bubble-right {
		width: 100%;
		margin: 10px 0px;
	}
}